// _shame.scss 			~/styles/
// Styles here will be included throughout the project. Limit use as much
// as possible. Using too much here can cause un intended effects. Shame?
////////////////////////////////////////////////////////////


body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: rem-calc(300)
}

h1 {
  margin-bottom: rem-calc(10);
}

nav {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  .main-menu-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $black;
    padding: rem-calc(10 20);
    &.active,
    &:hover {
      background-color: $wht-15;
      text-decoration: none;
    }
  }
}